
    :root {
        --main-bg-color: #096;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit
    }

    li {
        list-style: none;

    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        direction: rtl;
        min-height: 100vh;
        color: #fff;
        background: var(--main-bg-color);
        font-family: Arial, Helvetica, sans-serif;
        overflow-x: hidden;
    }

    nav,
    main,
    footer {
        padding: 10px;
    }

    nav {
        height: 15vh;
        text-align: center;
        background: var(--main-bg-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav h4 {
        text-shadow: -6px 2px 4px rgba(0, 0, 0, 0.5),
            0px -5px 33px rgba(255, 255, 255, 1);
        font-size: 2em;
    }

    nav .fa-times {
        font-size: 2em;
    }

    nav ul {
        display: flex;
        width: 50%;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 15vh;
        height: 450px;
        max-height:85vh;
        background: var(--main-bg-color);
        opacity: .9;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease;


    }

    nav ul li {
        width: 100%;
        height: 100%;
        opacity: 0;

    }

    nav ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #ffffff33;
        font-size: 30px;
    }

    nav .fa-bars {
        font-size: 2em;
        cursor: pointer;
    }

    main {
        height: 70vh;
        color: black;
        background: #fefde6;
        overflow: auto;
        transition: padding-right 0.5s ease;

    }

    main h1 {
        text-align: center;
        position: sticky;
        top: -11px;
        background: inherit;
        padding-bottom: 10px;


    }

    main p {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: calc(20px + 1vw);
        padding-right: calc(20px + 1vw);

        text-align: justify;
        max-width: 80ch;
        margin-left: auto;
        margin-right: auto;
        font-size: calc(1em + 1vw);
        line-height: 1.7;

    }

    .marLift {
        padding-right: 50%;
    }

    footer {
        height: 15vh;
        text-align: center;
        background: var(--main-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

    }

    footer>div {
        flex: 1;

    }

    footer div:nth-child(2) {
        flex: 5
    }

    footer i {
        font-size: 2.5em;

    }

    /* nav active */

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navlinks {
        from {
            opacity: 0;
            transform: translateX(50px)
        }

        to {
            opacity: 1;
            transform: translateX(0px)
        }
    }
