body{
  
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
/*  text-align:right*/
}

/* ------------ container ------------ */
.container{
    padding:10px;
    max-width:440px;
    margin:0 auto;
}

/* ------------ header ------------ */
header{
    max-width: 440px;
    height:200px;
    background-image: url('../img/image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:23px;
    top: 23px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 14px;
    right: 14px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    max-width:440px;
    height: 350px;
    max-height:350px;
    background-color: white;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}

.content ul li {
  
}
.item{
    max-width:440px;
    height: 60px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
  display:flex;
  flex: 0 0 100%; 
  align-items:center;
  justify-content:center;
  
}
.item i.co{
/*    position: absolute;*/
    font-size: 35px;
    padding-left:5px;
  flex: 0 0 15%; 
    display:flex;
  justify-content:center;
  align-items:center
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
   /* position: absolute;*/
    padding:0;
    margin:0;
    font-size: 24px;
  flex: 0 0 65%; 
   /* right:60px;
    top:15px;*/
  
  /*  background-color: white;*/
    max-width:300px;
  
}
.lineThrough{
    text-decoration: line-through;
    color: #6EB200;
}
.item i.de{
  /*  position: absolute;*/
    font-size: 35px;
  flex: 0 0 20%;
  display:flex;
  justify-content:center;
  align-items:center
    /*left:15px;
    top:14px;*/
 
}
.item i.de:hover{
   /* color:#af0000;*/
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    max-width: 440px;
    height:40px;
    background-color: white;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
  display:flex
}
.add-to-do i{
  display:flex;
  justify-content:center;
  align-items:center;
  flex: 0 0 20%;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    display:flex;
  flex: 0 0 80%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

@media only screen and (max-width: 400px) {
  
    .add-to-do i{
  
  justify-content:right;
  }
}