*{box-sizing:border-box}

html{
touch-action: manipulation
}
body{
  min-height:100vh;
  font-family:arial;
  font-size:1.5em;
  padding:0;margin:0
}
.app{
height:100vh;
margin: 0 auto;
background:#eee
}
.app *{
padding: 15px;
}
.app header{
height: 20%;
background: #008CBA;
  color: #eee;
border-bottom: 1px solid #22222222;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center
}
.app main{
height: calc(80% - 90px);
border-bottom: 3px solid #008CBA;
  padding-top: 10vh;
text-align: justify;}

.app footer{
height:90px;
display:flex;
align-items:center;
  justify-content:center;
}

.app footer button{
  height:80%;
width:33.333%;
padding:10px;
margin:10px;
border-radius:none;
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius:2px
  
}

.app button:first-of-type{
border-bottom-right-radius: 10px;
}

.app button:last-of-type{

border-bottom-left-radius: 10px;
}



